# Copy this to your platform's environment variable settings
APP_NAME="ML Monitor API"
DEBUG=False
SECRET_KEY="ce8b0d9b61a57ffc88585deb11defb0b08179828238a9a5c143d84aae0bf7746"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL="sqlite:///./data/ml_monitor.db"